html,
body {
    position: relative;
    font-family: microsoft yahei;
    font-size: 14px;
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
.container {
    padding-top: 30px;
}
.box {
    width: 320px;
    height: 500px;
    margin: 0 auto;
    padding: 50px 20px 40px 20px;
    border: 1px solid #999;
    border-radius: 30px;
}
.swiper-container {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.swiper-slide {
    position: relative;
    height: auto;
    background-color: #fff;
}
.content-wrap {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
    padding-bottom: 5px;
}
.content {
    position: relative;
    display: none;
}
.content h3 {
    margin: 10px 0;
}
.content p {
    margin-bottom: 10px;
}
.loadtip {
    display: none;
    width: 100%;
    margin: 8px 0;
    padding: 5px 0;
    text-align: center;
    color: #999;
    border-top: 1px solid #ddd;
}
.refreshtip {
    position: absolute;
    left: 0;
    width: 100%;
    margin: 10px 0;
    text-align: center;
    color: #999;
}
.init-loading {
    width: 100%;
    text-align: center;
    color: #999;
}
